.main-body {
    background-image: url("https://images.unsplash.com/photo-1494778924281-cce023ab1acb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2b31676cd54801d04743eeb52f38c758&auto=format&fit=crop&w=934&q=80");
    background-size: cover;
    background-position: center;
}

.navbar-default {
    font-family: 'Play', sans-serif;
    background-color: black !important;
    position: relative;
    width: -webkit-fill-available;
}

.home-container {
}

.header-container {
    top: 25px;
}

.main-header {
    color: white;
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Play', sans-serif;
    text-align: center;
}
.main-info {
    color: white;
    font-family: 'Play', sans-serif;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.home-services-container {
text-align: center;
}
.home-services-header, .home-contact-header {
    color: white;
    font-family: 'Play', sans-serif;
    font-weight: bolder
}
.services-list {
    list-style: none;
    margin-left: -37px;
    color: white;
    font-family: 'Play', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.learn-more {
    border-radius: 105px;
    background-color: whitesmoke;
    border: whitesmoke;
    width: 150px;
    height: 35px;
    font-family: 'Play', sans-serif;
    font-size: 20px;
    margin-left: 15px;
}

.services-container {
    text-align: center;
}
.service-item {
    font-size: 30px;
    color: white;
}
.service-description {
    font-size: 20px;
    color:white;
}
.main-number {
    color: white;
    font-family: 'Play', sans-serif;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .main-body {
        width: 115%;
        background-size: unset;
        background-repeat: no-repeat;
    }
    .navbar-default {
        width: 115%;
    }

    .nav-list {
        display: -webkit-box;
    }

    .home-container, .rows-container {
        width: 85%;
        padding: 0 35px 0 35px;
    }

    .header-container {
        top: 25px;
    }

    .main-header, .home-services-header, .home-contact-header, .service-item {
        font-size: 20px;
    }

    .main-info, .service-description {
        font-size: 15px;
    }

    .services-container {
        width: 85%;
        padding: 0 35px 0 35px;
    }

    .services-list {
        font-size: 15px;
        margin-left: -35px;
    }
    .main-number {
        font-size: 18px;
        padding-bottom: 30px;
    }

    .home-contact-container {
        width: 100%;
    }
}

@media screen and (min-width: 700px) and (max-width: 1030px) {
    .body {
        width: 100%
    }
    .main-body {
        background-size: unset;
        background-repeat: no-repeat;
    }
    .navbar-default {
        width: 115%;
    }

    .nav-list {
        display: -webkit-box;
    }

    .home-container, .rows-container {
        width: 90%;
        padding: 0 35px 0 35px;
    }

    .header-container {
        top: 25px;
    }

    .main-header, .home-services-header, .home-contact-header {
        font-size: 30px;
    }

    .main-info {
        font-size: 20px;
    }

    .home-services-container {
    }

    .services-list {
        font-size: 15px;
        margin-left: -35px;
    }
    .main-number {
        font-size: 18px;
        padding-bottom: 30px;
    }

    .home-contact-container {
        width: 100%;
    }

    .services-container {
        width: 90%;
        padding: 0 35px 0 35px;
    }
}